.content-layout {
	background-color: #25292e;
	width: 100%;
	display: grid;
	gap: 25px;
	grid-template-columns: 5fr 4fr;
	grid-template-rows: 4fr 3fr;
	grid-template-areas:
		"map-area table-area"
		"histogram-area bargraph-area";
	height: 90%;
	padding: 25px;
	padding-top: 0;
}

.map-area {
	overflow: hidden;
	border-radius: 10px;
	grid-area: map-area;
	background-color: #2f3438;
}

.table-area {
	border-radius: 10px;
	grid-area: table-area;
	background-color: #2f3438;
	overflow: auto;
}

.histogram-area {
	border-radius: 10px;
	grid-area: histogram-area;
	background-color: #2f3438;
	overflow: auto;
}

.bargraph-area {
	border-radius: 10px;
	grid-area: bargraph-area;
	background-color: #2f3438;
}

.area-title {
	color: white;
	font-size: 20px;
	margin-left: 30px;
	margin-top: 30px;
	font-weight: 700;
	margin-top: 10px;
	width: fit-content;
	padding: 0;
	margin: 0;
}

.bar-graph-title-wrapper {
	display: flex;
	justify-content: space-between;
	padding-inline: 50px;
	transform: translate(0px, 30px);
}

.bar-graph-wrapper {
	margin-top: 50px;
}

.bar-graph-nav {
	color: #666;
	display: flex;
	gap: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bar-graph-nav-item {
	cursor: pointer;
}

.bar-graph-selected {
	color: #ff3e58;
}

.world-graph-title {
	transform: translate(50px, 30px);
}
