* {
	color: white;
}

.custom-marker-cluster {
	background: rgb(196, 39, 39);
	border-radius: 50%;
	color: white;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	width: 30px;
	height: 30px;
}
