* {
	color: white;
	font-family: "Nunito", sans-serif;
	font-weight: 700;
}

.custom-marker-cluster {
	background: rgb(196, 39, 39);
	border-radius: 50%;
	color: white;
	font-weight: 500;
	font-size: 14px;
	line-height: 35px;
	text-align: center;
	width: 35px;
	height: 35px;
}
